BROKER_URL=amqp://localhost:5672
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://docker:docker@localhost:5483/processing
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
AWS_S3_BUCKET=upload-service-bucket
CORS_ORIGIN=http://localhost:5173

# Lambda / Pulumi
UPLOAD_SERVICE_WEBHOOK_URL=http://host.docker.internal:3333/upload/webhook

# Web
VITE_GITHUB_REPO_URL=https://github.com/viniverses/video-streaming-microservices
VITE_JAEGER_URL=http://localhost:16686
VITE_JAEGER_SEARCH_SERVICE=upload-service
VITE_RABBITMQ_URL=http://localhost:15672
VITE_SWAGGER_UPLOAD_URL=http://localhost:3333/swagger
VITE_PROCESSING_API_URL=http://localhost:3334
