DATABASE_URL="postgresql://docker:docker@localhost:5483/processing"

BROKER_URL="amqp://localhost:5672"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
OTEL_SERVICE_NAME="metadata-service"
REDIS_URL="redis://localhost:6379"

AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
AWS_ENDPOINT_URL="http://localhost:4566"
AWS_S3_BUCKET="upload-service-bucket"